@import './constants.scss';

.app {
  text-align: center;
}

.logo {
  pointer-events: none;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $dark-gray;
}

.link {
  color: $blue;
}